/* QUESTIONS IN ALL CAPS */
body {
    font-family: 'Krona One', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-background {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0bedb362-1325-47fe-8fb8-8a1224de0221/def1knu-17d5f251-0deb-4b14-8229-29fa3ddfbfd9.png/v1/fill/w_1280,h_427,q_80,strp/pokeball_twitter_header_by_sailortrekkie92_def1knu-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDI3IiwicGF0aCI6IlwvZlwvMGJlZGIzNjItMTMyNS00N2ZlLThmYjgtOGExMjI0ZGUwMjIxXC9kZWYxa251LTE3ZDVmMjUxLTBkZWItNGIxNC04MjI5LTI5ZmEzZGRmYmZkOS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.BUKSZS-T76iqkw9K5abw8a3u2fPYsVuPMRYzQ8O0ujY');
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    height: 150px;
    margin-left: 20px;
}

.navbar {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: none !important;
    box-shadow: none !important;
}

.navbar-menu {
    background: none !important;
}

.pill-navbar-item {
    background-color: #ed4035 !important;
    color: white !important;
    border-radius: 50px !important;
    padding: 3px 7px !important;
    margin: 0 3px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 0.5em !important;
    transition: background-color 0.3s ease !important;
    border: 2px solid white !important;
    display: flex;
    align-items: center;
}

.pill-navbar-item i {
    margin-right: 3px;
}

.pill-navbar-item:hover {
    background-color: #d93630 !important;
    color: white !important;
}

.content-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-content {
    display: flex;
    width: 100%;
}

.main-aside {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
}

.main-details {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.side-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.left-container,
.right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.party-of-6 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
}

.favorites-list {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    width: 100%;
}

.poke-trivia {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    width: 100%;
}

.pokemon-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dex-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.dex-photo-container img {
    max-width: 100%;
    height: auto;
}

.attributes-section {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0;
}

.attributes-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.attribute {
    margin-bottom: 10px;
    border: 2px solid #f3be19;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

.evolution-timeline {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0;
}

.evolution-timeline h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/*Stat Bars*/
#hp {
    background-color: #aae66a;
}

#attack {
    background-color: #f2dc6d;
}

#defense {
    background-color: #e79966;
}

#special-attack {
    background-color: #7dd9f5;
}

#special-defense {
    background-color: #8ca1e9;
}

#speed {
    background-color: #d970c9;
}

.stat {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 5px;
    border-right: 2px solid #f3be19;

}

.bar {
    min-height: 100%;
    width: 60%;
    display: flex;
    flex: 0 0 auto;
    
}

#hpbar{
    height:25px;
    background-color:#80d926;
    border:1px solid #66ae1d;
    min-width: 25px;
    
}

#atkbar{
    height:25px;
    background-color: #ebca27;
    border: 1px solid #c7ad26;
    min-width: 25px;
}

#defbar{
    height:25px;
    background-color: #dc6316;
    border: 1px solid #a24810;
    min-width: 25px;
}

#spatkbar{
    height:25px;
    background-color: #4fc4f0;
    border: 1px solid #43a3c7;
    min-width: 25px;
}
#spdefbar{
    height:25px;
    background-color: #4f6fdd;
    border: 1px solid #4760b7;
    min-width: 25px;
}
#speedbar{
    height:25px;
    background-color: #c82aac;
    border: 1px solid #861b72;
    min-width: 25px;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
    main {
        order: 1;
        width: 100%;
    }
    .side-bar {
        order: 2;
        width: 100%;
    }
    .main-content {
        flex-direction: column;
    }
    .main-aside {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .navbar-menu .navbar-item {
        font-size: 0.4em;
        padding: 2px 5px;
    }
    .header-logo {
        height: 100px;
    }
}

@media (min-width: 1280px) {
    .header-background {
        height: 450px;
    }
    .header-logo {
        height: 200px;
    }
    .navbar-menu .navbar-item {
        font-size: 0.6em;
        padding: 4px 10px;
    }
}
